---
---

/* reset */

b,
u,
i,
q,
s,
p,
a,
tr,
th,
td,
dl,
dt,
dd,
ol,
em,
h1,
h2,
h3,
h4,
h5,
h6,
tt,
nav,
var,
big,
div,
pre,
del,
dfn,
img,
ins,
kbd,
cite,
time,
mark,
code,
abbr,
html,
menu,
body,
ruby,
span,
samp,
form,
tbody,
tfoot,
thead,
label,
small,
embed,
aside,
table,
audio,
video,
canvas,
applet,
object,
iframe,
strike,
strong,
center,
legend,
figure,
footer,
header,
hgroup,
output,
acronym,
address,
caption,
article,
details,
section,
summary,
fieldset,
blockquote,
figcaption
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

nav,
menu,
aside,
figure,
footer,
header,
hgroup,
section,
article,
details,
figcaption
{
  display: block;
}

body
{
  line-height: 1;
}

ol,
{
  list-style: none;
}

q,
blockquote
{
  quotes: none;
}

a:after,
q:before,
blockquote:after,
blockquote:before
{
  content: '';
  content: none;
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

html
{
  font-size: 100%;
}

body
{
  font-size: 1em;
  background: white;
}

hr
{
  border: solid .0625em #000;
}

.content
{
  margin: 0 auto;
  max-width: 37.5em;
  padding-bottom: 2em;
}

.site-header
{
  text-align: right;
  border-bottom: solid 1px #000;
}

.site-header h1
{
  display: inline;
}

.site-header nav
{
  display: inline;
}

.site-header nav a
{
  padding: 0 .25em 0 .25em;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: 'Six Caps', Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: .5em;
}

h1
{
  font-size: 5em;
}

h2
{
  font-size: 3em;
}

h3
{
  font-size: 2em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
{
  text-decoration: inherit;
}

a
{
  color: inherit;
}

a:hover
{
  color: red;
}

p img
{
  display: block;
  margin: 0 auto;
  max-width: 20em;
  background: #fff;
  border-radius: .125em;
  background-clip: padding-box;
}

p
{
  margin: 0 0 1em 0;
  line-height: 1.5;
  font-size: 1.25em;
}

ul {
  font-size: 1.25em;
}

ul > li {
  margin-bottom: 0.5em;
}

p code
{
  padding: 0 .25em 0 .25em;
  background: #eee;
  font-family: monospace;
  border-radius: .125em;
  background-clip: padding-box;
}

pre
{
  overflow: auto;
  border-left: solid .5em #ddd;
  padding: .5em;
  font-family: monospace;
  font-size: 1.25em;
  line-height: 1.5;
  margin: 0 0 1em 0;
}

section:not(:last-child)
{
  position: relative;
  border-bottom: solid .125em #ddd;
}

section:not(:last-child):before
{
  content: '\00a7';
  position: absolute;
  left: 50%;
  bottom: -.5em;
  font-family: 'Six Caps';
  font-size: 2em;
  color: #ccc;
}

article
{
  padding: 1em;
}

article img
{
  max-width: 80%;
}

article aside
{
  max-width: 40%;
}

article header
{
  margin: 0 0 1em 0;
}

article header time
{
  float: right; color: #aaa;
}

article audio,
article video
{
  max-width: 100%;
  display: block;
  margin: 0 auto 1em auto;
}

article video
{
  border-radius: .125em;
}

em
{
  font-style: italic;
}

strong
{
  font-weight: bold;
}

footer
{
  margin: 2em 0 0 0;
}

blockquote
{
  font-style: italic;
  padding: 1em;
  margin: 0 0 1em 0;
  position: relative;
}

blockquote:before
{
  z-index: -1;
  content: '\201c';
  position: absolute;
  top: -.125em;
  left: -.125em;
  color: #eee;
  font-size: 15em;
}

.relative
{
  position: relative;
}

.text-center
{
  text-align: center;
}
.right
{
  float: right;
}
.left
{
  float: left;
}

/* pygments */

.highlight .hll
{
  background-color: #ffffcc;
}

.highlight .err
{
  border: 1px solid #FF0000;
}

.highlight .k
{
  font-weight: bold;
}

.highlight .c
{
  font-style: italic;
  color: #aaa;
}

.highlight .cm
{
  font-style: italic;
  color: #aaa;
}

.highlight .c1
{
  font-style: italic;
  color: #aaa;
}

.highlight .cs
{
  font-style: italic;
  color: #aaa;
}

.highlight .ge
{
  font-style: italic;
}

.highlight .gh
{
  font-weight: bold;
}

.highlight .gp
{
  font-weight: bold;
}

.highlight .gs
{
  font-weight: bold;
}

.highlight .gu
{
  font-weight: bold;
}

.highlight .kc
{
  font-weight: bold;
}

.highlight .kd
{
  font-weight: bold;
}

.highlight .kn
{
  font-weight: bold;
}

.highlight .kr
{
  font-weight: bold;
}

.highlight .s
{
  font-style: italic;
  font-weight: bold;
}

.highlight .nc
{
  font-weight: bold;
}

.highlight .ni
{
  font-weight: bold;
}

.highlight .ne
{
  font-weight: bold;
}

.highlight .nn
{
  font-weight: bold;
}

.highlight .nt
{
  font-weight: bold;
}

.highlight .ow
{
  font-weight: bold;
}

.highlight .sb
{
  font-style: italic;
}

.highlight .sc
{
  font-style: italic;
}

.highlight .sd
{
  font-style: italic;
}

.highlight .s2
{
  font-style: italic;
}

.highlight .se
{
  font-weight: bold;
  font-style: italic;
}

.highlight .sh
{
  font-style: italic;
}

.highlight .si
{
  font-weight: bold;
  font-style: italic;
}

.highlight .sx
{
  font-style: italic;
}

.highlight .sr
{
  font-style: italic;
}

.highlight .s1
{
  font-style: italic;
}

.highlight .ss
{
  font-style: italic;
}

button
{
  cursor: pointer;
}

sup a {
  text-decoration: none;
}
