<!doctype html>
<html>
<head>
  <meta charset='utf8'>

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

  <meta name='viewport' content='width=device-width'>
  <link rel='alternate' type='application/rss+xml' title='RSS' href='/rss.xml'>

  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Six+Caps&display=swap'>
  <link rel='stylesheet' href='/css/screen.css'>
</head>
<body>
  <div class='content'>
    <header class='site-header'>
      <nav>
        <a href='/about'>About</a>
      </nav>
      <h1><a href='/'>Brad Dunbar</a></h1>
    </header>
    <div>
      {{ content }}
    </div>
    <footer class='text-center'>
      <p>
        © 2014 Brad Dunbar ♪
        <a href='https://github.com/braddunbar/braddunbar.github.io'>Source</a>
        /
        <a rel='me' href='https://hachyderm.io/@braddunbar'>Mastodon</a>
        /
        <a rel='me' href='mailto:dunbarb2@gmail.com'>Email</a>
        /
        <a rel='me' href='https://github.com/braddunbar'>GitHub</a>
      </p>
    </footer>
  </div>
</body>
</html>
